.field {
  margin: 20px 0;
  position: relative;
  height: 50px;

  &-label {
    position: absolute;
    left: 3%;
    top: 14%;
    cursor: text;
    transition: all 0.3s;
    background: white;
    padding: 5px;
    color: gray;

    &-search {
      padding: 0;
      background: none;
      top: 25%;
    }
  }

  &-input {
    height: 100%;
    width: 100%;
    padding-top: 15px;
    font-size: 1.1em;
    outline: none;

    &-search {
      padding: 5px 5px 0;
      background: rgb(255,255,255);
      border: none;

      &:hover {
        background: rgb(245,245,245);
      }
    }

    &::placeholder {
      color: transparent;
    }
  }

  &-show {
    position: absolute;
    right: 5px;
    top: 20%;
    background: none;
    border: none;
    border-radius: 50%;

    &:hover {
      background: rgb(225,225,225);
    }
  }
}


.field-input:focus + .field-label,
.field-input:not(:placeholder-shown) + .field-label {
  left: 2%;
  top: -30%;
  font-size: 0.9em;
} 

.field-input:focus + .field-label-search,
.field-input:not(:placeholder-shown) + .field-label-search {
  left: 2%;
  top: 0%;
  font-size: 0.9em;
}

input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}