.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;

  &-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 512px;
    width: 100%;
    min-width: 240px;
    border: 1px solid black;
    padding: 2rem 2rem 3rem;
    background: white;
  }
  .form {
    width: 100%;
  }

  .oauth {
    width: 100%;
  }

  .auth-links {
    display: flex;
    width: 100%;
    justify-content: center;

    & a {
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      transition: all 0.2s;

      &:hover {
        background: rgba(0,0,0,0.1);
      }
    }
  }
}