.auth-form {
  width: 100%;
  padding: 10px;

  &-field {
    width: 100%;
    height: 40px;
    margin: 5px 2px;
    border: 1px solid black;
    position: relative;

    &-label {
      position: absolute;
      z-index: 2;
      font-size: 1.6em;
      color: rgba(0,0,0,0.8);
    }

    &-input {
      width: 100%;
      height: 100%;
      z-index: 3;
    }
  }
}